<!-- start custom footer snippets -->

<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.6/latest.js?config=TeX-MML-AM_CHTML">
</script>

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({ TeX: { extensions: ["color.js"], equationNumbers: { autoNumber: "AMS" }}, CommonHTML: {scale: 105, minScaleAdjust: 100}});
</script>

<!--Start Cookie Script-->
<script type="text/javascript" charset="UTF-8" src="http://chs03.cookie-script.com/s/b6c9e69bb4e7ad7868e7c46f1b9aeacd.js"></script>
<!--End Cookie Script-->

<!-- end custom footer snippets -->
