<!-- start custom footer snippets -->

<script>
MathJax = {
  tex: {
    tags: "ams",
    packages: {'[+]': ['ams', 'noerrors', 'color']}
  },
  chtml: {
    scale: 1.05,
    minScale: 1
  },
  startup: {
    ready() {
      const MmlMath = MathJax._.core.MmlTree.MmlNodes.math.MmlMath;
      MmlMath.defaults.scriptminsize = '.1em';
      MathJax.startup.defaultReady();
    }
  },
  options: {
    ignoreHtmlClass: 'tex2jax_ignore',
    processHtmlClass: 'tex2jax_process',
    renderActions: {
      find_script_mathtex: [10, function (doc) {
        for (const node of document.querySelectorAll('script[type^="math/tex"]')) {
          const display = !!node.type.match(/; *mode=display/);
          const math = new doc.options.MathItem(node.textContent, doc.inputJax[0], display);
          const text = document.createTextNode('');
          node.parentNode.replaceChild(text, node);
          math.start = {node: text, delim: '', n: 0};
          math.end = {node: text, delim: '', n: 0};
          doc.math.push(math);
        }
      }, '']
    }
  },
  loader: {
    load: ['[tex]/ams', '[tex]/noerrors', '[tex]/color']
  }
};
</script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>

<script>
if ("serviceWorker" in navigator) {
  if (navigator.serviceWorker.controller) {
    console.log("An active service worker found, no need to register");
  } else {
    // Register the service worker
    navigator.serviceWorker
      .register("/serviceworker.js", {
        scope: "/"
      })
      .then(function (reg) {
        console.log("Service worker has been registered for scope: " + reg.scope);
      })
      .catch(function(err) {
        console.log("Service Worker Failed to Register", err);
      });
      navigator.serviceWorker.ready.then(function(reg) {
         console.log('Service Worker Ready');
});
  }
}
else{
    console.log('Service Workers not supported');
}
</script>

<!-- end custom footer snippets -->
