<!-- start custom head snippets -->

<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="dns-prefetch" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://cdn.jsdelivr.net/" crossorigin>
<link rel="dns-prefetch" href="https://cdn.jsdelivr.net/">
<link rel="preconnect" href="https://kit.fontawesome.com/" crossorigin>
<link rel="dns-prefetch" href="https://kit.fontawesome.com/">
<link rel="preconnect" href="https://polyfill.io/" crossorigin>
<link rel="dns-prefetch" href="https://polyfill.io/">
<link rel="preconnect" href="https://kit-free.fontawesome.com/" crossorigin>
<link rel="dns-prefetch" href="https://kit-free.fontawesome.com/">
<link rel="preconnect" href="https://www.googletagmanager.com">
<link rel="dns-prefetch" href="https://www.googletagmanager.com">
<link rel="preconnect" href="https://www.googleapis.com/">
<link rel="dns-prefetch" href="https://www.googleapis.com/">
<link rel="preconnect" href="https://cse.google.com">
<link rel="dns-prefetch" href="https://cse.google.com">
<link rel="preconnect" href="https://api.github.com">
<link rel="dns-prefetch" href="https://api.github.com">
<link rel="preconnect" href="https://clients1.google.com">
<link rel="dns-prefetch" href="https://clients1.google.com">
<link rel="preconnect" href="https://www.google.com">
<link rel="dns-prefetch" href="https://www.google.com">
<link rel="preconnect" href="https://www.google-analytics.com">
<link rel="dns-prefetch" href="https://www.google-analytics.com">
<link rel="dns-prefetch" href="https://geniussplace.disqus.com/">

<link rel="apple-touch-icon" sizes="57x57" href="/assets/images/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/assets/images/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/assets/images/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/assets/images/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/assets/images/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/assets/images/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/assets/images/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/assets/images/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="/assets/images/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/assets/images/android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="/assets/images/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="/assets/images/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/assets/images/manifest.json">
<link rel="mask-icon" href="/assets/images/safari-pinned-tab.svg" color="#000000">
<link rel="shortcut icon" href="/assets/images/favicon.ico">
<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-TileImage" content="/assets/images/apple-touch-icon-144x144.png">
<meta name="msapplication-config" content="/assets/images/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

<link href="https://fonts.googleapis.com/css?family=Ovo&display=swap" rel="stylesheet" type="text/css">

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />

<!-- end custom head snippets -->
