---
title: "GeNiuSS Place"
permalink: /geniuss-place/
author_profile: false
share: true
comments: true
related: true
excerpt: 'A place for sharing projects and thoughts about software-defined GNSS receivers.'
sidebar:
  nav: "geniuss-place"
---

A place for sharing projects and thoughts about software-defined GNSS receivers.


<html> <body> <table> <tr> <td id="forcetable2">
{% for post in site.geniuss-place %}
  {% include archive-single.html %}
{% endfor %}
</td> </tr> </table> </body> </html>
