---
layout: archive
permalink: /tags/
title: "Posts by Tag"
excerpt: "Posts of GNSS-SDR website, organized by tag."
author_profile: false
sidebar:
  nav: "news"
---

{% include group-by-array collection=site.posts field="tags" %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
{% for tag in group_names %}
  {% if tag == "tutorial" %}  {% else %}
    {% if tag == "news" %}  {% else %}
      {% assign posts = group_items[forloop.index0] %}
      <h2 id="{{ tag | slugify }}" class="archive__subtitle">{{ tag }}</h2>
      {% for post in posts %}
        {% include archive-single.html type=entries_layout %}
      {% endfor %}
    {% endif %}
  {% endif %}
{% endfor %}
