# Welcome to Jekyll!
#
# This config file is meant for settings that affect your entire site, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# `jekyll serve`. If you change this file, please restart the server process.

minimal_mistakes_skin    : "default" # "air", "aqua", "contrast", "dark", "dirt", "mint", "neon", "plum", "sunrise"

# Site Settings
locale                   : "en-US"
title                    : "GNSS-SDR"
title_separator          : "-"
subtitle                 : # site tagline that appears below site title in masthead
name                     : &name "Carles Fern&aacute;ndez-Prades"
description              : &description "An open source Global Navigation Satellite Systems software-defined receiver."
url                      : "https://gnss-sdr.org" # the base hostname & protocol for your site e.g. "https://YOUR_USERNAME.github.io"
baseurl                  : # the subpath of your site, e.g. "/geniuss-place"
repository               : "gnss-sdr/geniuss-place"
teaser                   : # filename of teaser fallback teaser image placed in /assets/images/, .e.g. "500x300.png"
# breadcrumbs            : false # true, false (default)
words_per_minute         : 200
comments:
  provider               : disqus # false (default), "disqus", "discourse", "facebook", "custom"
  disqus:
    shortname            : geniussplace
atom_feed:
  path                   : # blank (default) uses feed.xml
search                   : true # true, false (default)
search_full_content      : true # true, false (default)
search_provider          : "algolia" # lunr (default), algolia, google
algolia:
  application_id         : "C4WP3JR8NU"
  index_name             : "dev_geniuss-place"
  search_only_api_key    : "c70df703d8319b91d17ed828bba9874b"
  powered_by             : true
  files_to_exclude       :
    - index.html
    - index.md
    - _pages/tag-archive.html
    - _pages/news-archive.html
    - _pages/sitemap.md
    - _docs/01-documentation.md
  nodes_to_index         : 'p,blockquote,li'

google:
  search_engine_id       : "017711794320569483402:g-c4wz3ec44"
  instant_search         : true # false (default), true

# SEO Related
google_site_verification : "googlefb1532d2ac258689"

# Social Sharing
twitter:
  username               :
og_image                 : /assets/images/site-logo.png # Open Graph/Twitter default site image
# For specifying social profiles
# - https://developers.google.com/structured-data/customize/social-profiles
social:
  type                   : Organization # Person or Organization (defaults to Person)
  name                   : gnss-sdr # If the user or organization name differs from the site's name
  links                  : # An array of links to social media profiles


# Analytics
analytics:
  provider               :  "google-gtag" # false (default), "google", "google-universal", "google-gtag", "custom"
  google:
    tracking_id          : UA-33262364-1

# Google AdSense
google_ad_client         :
google_ad_slot           :


# Site Author
author:
  name             : *name
  sourceforge      : "gnss-sdr"
  links:
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/gnss-sdr/"
    - label: "GitLab"
      icon: "fab fa-fw fa-gitlab"
      url: "https://gitlab.com/gnss-sdr/gnss-sdr/"


# Site Footer
footer:
  links:
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/gnss-sdr"
    - label: "GitLab"
      icon: "fab fa-fw fa-gitlab"
      url: "https://gitlab.com/gnss-sdr/gnss-sdr"


# Reading Files
include:
  - .htaccess
  - _pages
exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - vendor
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - assets/scss
  - assets/js/plugins
  - assets/js/_main.js
  - assets/js/vendor
  - Capfile
  - CHANGELOG
  - config
  - Gemfile
  - Gruntfile.js
  - gulpfile.js
  - LICENSE
  - log
  - node_modules
  - package.json
  - Rakefile
  - README
  - tmp
keep_files:
  - .git
  - .svn
encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"

# Liquid
strict_front_matter: true
liquid:
  error_mode: strict

# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false


# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false


# Collections
collections:
  docs:
    output: true
    permalink: /:collection/:path/
  quick-start:
    output: true
    permalink: /:path/
  geniuss-place:
    output: true
    permalink: /:collection/:path/
  sp-blocks:
    output: true
    permalink: /docs/:collection/:path/
  design-forces:
    output: true
    permalink: /:collection/:path/


# Defaults
defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
  # _pages
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      author_profile: false
  # _quick-start
  - scope:
      path: ""
      type: quick-start
    values:
      layout: single
      author_profile: false
      sidebar:
        nav: "start"
  # _docs
  - scope:
      path: ""
      type: docs
    values:
      layout: single
      read_time: true
      author_profile: false
      share: true
      comments: true
      sidebar:
        nav: "docs"
  # _geniuss-place
  - scope:
      path: ""
      type: geniuss-place
    values:
      layout: single
      read_time: false
      author_profile: false
      share: true
      comments: false
      related: true
      sidebar:
        nav: "geniuss-place"
# _sp-blocks
  - scope:
      path: ""
      type: sp-blocks
    values:
      layout: single
      read_time: false
      author_profile: false
      share: true
      comments: true
# _design-forces
  - scope:
      path: ""
      type: design-forces
    values:
      layout: single
      read_time: false
      author_profile: false
      share: true
      comments: true
      related: true
      sidebar:
        nav: "design-forces"

# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed # http://sass-lang.com/documentation/file.SASS_REFERENCE.html#output_style


# Outputting
permalink: /:categories/:title/
# paginate: 5 # amount of posts to show
# paginate_path: /page:num/
timezone: Europe/Madrid # http://en.wikipedia.org/wiki/List_of_tz_database_time_zones


# Plugins
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-redirect-from
  - jekyll-include-cache

# mimic GitHub Pages with --safe
whitelist:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-redirect-from
  - jekyll-include-cache

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/

# HTML Compression
# - http://jch.penibelst.de/
compress_html:
  clippings: all
  ignore:
    envs: development
