<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
<script>
cookieconsent.utils.setCookie = function(name, value, expiryDays, domain, path, secure, sameSite) {
  var exdate = new Date();
  exdate.setHours(exdate.getHours() + ((expiryDays || 365) * 24));
  var cookie = [
    name + '=' + value,
    'expires=' + exdate.toUTCString(),
    'path=' + (path || '/')
  ];
  if (domain) {
    cookie.push('domain=' + domain);
  }
  if (secure) {
    cookie.push('secure');
  }
  if (sameSite) {
    cookie.push('sameSite=' + sameSite );
  }
  document.cookie = cookie.join(';');
}

cookieconsent.Popup.prototype.setStatus = function(status) {
  var c = this.options.cookie;
  var value = cookieconsent.utils.getCookie(c.name);
  var chosenBefore = Object.keys(cookieconsent.status).indexOf(value) >= 0;
  // if `status` is valid
  if (Object.keys(cookieconsent.status).indexOf(status) >= 0) {
    cookieconsent.utils.setCookie(
      c.name,
      status,
      c.expiryDays,
      c.domain,
      c.path,
      c.secure,
      c.sameSite
    );
    this.options.onStatusChange.call(this, status, chosenBefore);
  } else {
    this.clearStatus();
  }
};

function isPwa() {
    var displayModes = ["fullscreen", "standalone", "minimal-ui"];
    displayModes.forEach(function(displayMode) {
        if (window.matchMedia('(display-mode: ' + displayMode + ')').matches) {
            return true;
        }
    });
    if('standalone' in window.navigator && window.navigator.standalone) {
        return true;
    }
    if(document.referrer.includes('android-app://')) {
       return true;
    }
    return false;
}

window.cookieconsent.initialise({
  palette: {
    popup: {
      background: "#252e39"
    },
    button: {
      background: "#2f99cc"
    }
  },
  theme: "classic",
  type: "opt-out",
  content: {
    href: "/cookies/"
  },
  cookie: {
      domain: "gnss-sdr.org",
      expiryDays: 30,
      secure: true,
      sameSite: "Lax"
  },
  revokable: true,
  onInitialise: function(status) {
       var didConsent = this.hasConsented();
       if(didConsent) {
           window.dataLayer = window.dataLayer || [];
           function gtag(){dataLayer.push(arguments);}
           gtag('js', new Date());
           gtag('config', '{{ site.analytics.google.tracking_id }}');
           var screenwidth = $(window).width();
           if(screenwidth < 1024 || isPwa()) {
               document.getElementsByClassName("cc-revoke")[0].style.visibility = "hidden";
           }
       }
       if(!didConsent) {
             window.dataLayer = window.dataLayer || [];
             function gtag(){dataLayer.push(arguments);}
             gtag('js', new Date());
             gtag('config', '{{ site.analytics.google.tracking_id }}', { 'send_page_view': false });
       }
  },
  onStatusChange: function(status, chosenBefore) {
       var didConsent = this.hasConsented();
       if(didConsent) {
           window.dataLayer = window.dataLayer || [];
           function gtag(){dataLayer.push(arguments);}
           gtag('js', new Date());
           gtag('config', '{{ site.analytics.google.tracking_id }}');
       }
       if(!didConsent) {
           window.dataLayer = window.dataLayer || [];
           function gtag(){dataLayer.push(arguments);}
           gtag('js', new Date());
           gtag('config', '{{ site.analytics.google.tracking_id }}', { 'send_page_view': false });
       }
  },
  onRevokeChoice: function() {
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ site.analytics.google.tracking_id }}');
  },
  onPopupClose: function() {
      var didConsent = this.hasConsented();
      if(didConsent) {
          this.toggleRevokeButton(false);
      }
      if(!didConsent) {
          this.toggleRevokeButton(true);
      }
  }
});
</script>
