<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
          {% if site.minimal_mistakes_skin contains 'dark' or site.minimal_mistakes_skin contains 'neon' or site.minimal_mistakes_skin contains 'plum' %}
            {% assign logo = "/assets/images/logo-gnss-sdr-invert.png" %}
          {% else %}
            {% assign logo = "/assets/images/logo-gnss-sdr.png" %}
          {% endif %}
        <a class="site-title" href="{{ '/' | relative_url }}"><img src="{{ logo | relative_url }}" alt="GNSS-SDR logo"></img>{% if site.subtitle %}<span class="site-subtitle">{{ site.subtitle }}</span>{% endif %}</a>
        <ul class="visible-links">
          {%- for link in site.data.navigation.main -%}
            {%- if link.url contains '://' -%}
              {%- assign url = link.url -%}
            {%- else -%}
              {%- assign url = link.url | relative_url -%}
          {%- endif -%}
          <li class="masthead__menu-item">
            <a href="{{ url }}" {% if link.description %}title="{{ link.description }}"{% endif %}>{{ link.title }}</a>
          </li>
          {%- endfor -%}
            <li class="masthead__menu-item"><a href="{{ "/search/" | relative_url }}"><i class="fas fa-fw fa-search" aria-hidden="true"></i></a></li>
        </ul>
        <button class="greedy-nav__toggle hidden" type="button">
          <span class="visually-hidden">{{ site.data.ui-text[site.locale].menu_label | default: "Toggle Menu" }}</span>
          <div class="navicon"></div>
        </button>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
