---
---

<!doctype html>
<!--
  GNSS-SDR website https://gnss-sdr.org
  Copyright 2016-2019 Carles Fernandez-Prades
  Free for personal and commercial use under the Creative Commons Attribution 4.0 license
  https://github.com/gnss-sdr/geniuss-place/blob/master/LICENSE
-->
<html lang="{{ site.locale | slice: 0,2 | default: "en" }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}">

    {% include_cached skip-links.html %}
    {% include_cached browser-upgrade.html %}
    {% include_cached masthead.html %}

    <div class="initial-content">
      {{ content }}
    </div>

    {% if site.search == true %}
      <div class="search-content">
        {% include_cached search/search_form.html %}
      </div>
    {% endif %}

    <div id="footer" class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include_cached footer.html %}
      </footer>
    </div>

    {% include scripts.html %}
    {% include analytics.html %}

    <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
    <script>
    window.cookieconsent.initialise({
      palette: {
        popup: {
          background: "#252e39"
        },
        button: {
          background: "#14a7d0"
        }
      },
      type: "opt-out",
      content: {
        href: "/cookies/"
      },
      cookie: {
          domain: "gnss-sdr.org",
          expiryDays: 30,
          secure: true
      },
      revokable: true,
      onInitialise: function(status) {
           var didConsent = this.hasConsented();
           if(!didConsent) {
               window.dataLayer = window.dataLayer || [];
               function gtag(){dataLayer.push(arguments);}
               gtag('config', '{{ site.analytics.google.tracking_id }}', { 'send_page_view': false });
           }
      },
      onStatusChange: function(status, chosenBefore) {
           var didConsent = this.hasConsented();
           if(!didConsent) {
               window.dataLayer = window.dataLayer || [];
               function gtag(){dataLayer.push(arguments);}
               gtag('config', '{{ site.analytics.google.tracking_id }}', { 'send_page_view': false });
           }
      },
      onRevokeChoice: function() {
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('config', '{{ site.analytics.google.tracking_id }}', { 'send_page_view': true });
      }
    });
    </script>

  </body>
</html>
