---
layout: single
---

<style>
  /*********************************
   The list of publication items
   *********************************/
  /* The list of items */
  .biblist { }

  /* The item */
  .biblist li { }

  /* You can define custom styles here. */
  /*************************************
  The box that contain BibTeX code
  *************************************/
  div.noshow { display: none; }
  div.bibtex {
   margin-right: 0%;
   margin-top: 1.2em;
   margin-bottom: 1em;
   border: 1px solid silver;
   padding: 0em 1em;
   background: #ffffee;
  }
  div.bibtex pre { font-size: 75%; overflow: auto;  width: 100%; padding: 0em 0em;}
</style>



{{ content }}

<script type="text/javascript">
  function toggleBibtex(articleid) {
      var bib = document.getElementById('bib_'+articleid);
      if (bib) {
          if(bib.className.indexOf('bibtex') != -1) {
              bib.className.indexOf('noshow') == -1?bib.className = 'bibtex noshow':bib.className = 'bibtex';
          }
      } else {
          return;
      }
  }</script>
