/* Implement dark mode
   See https://github.com/hadalin/dark-mode-sass */

$colors: (
  light: (
    background: $background-color,
    text: $dark-gray,
    primary: $primary-color,
    border: $border-color,
    code-background: $code-background-color,
    code-background-dark: $code-background-color-dark,
    form-background: $form-background-color,
    footer-background: $footer-background-color,
    link: $link-color,
    link-hover: $link-color-hover,
    link-visited: $link-color-visited,
    masthead-link: $masthead-link-color,
    masthead-link-hover: $masthead-link-color-hover,
    navicon-link-hover: $navicon-link-color-hover,
    dark-gray: $dark-gray,
    light-gray: $light-gray,
    active: $active-color,
    contrast: $contrast-color,
    no-contrast: $no-contrast-color,
    muted-text: $muted-text-color,
    mix-border-25: mix(#000, $border-color, 25%),
    mix-primary-25: mix(#000, $primary-color, 25%),
    mix-text-50: mix(#000, $text-color, 50%),
    mix-contrast-text-25: mix($contrast-color, $text-color, 25%),
    mix-contrast-text-10: mix($contrast-color, $text-color, 10%),
    base00: $base00,
    base01: $base01,
    base02: $base02,
    base03: $base03,
    base04: $base04,
    base05: $base05,
    base06: $base06,
    base07: $base07,
    base08: $base08,
    base09: $base09,
    base0a: $base0a,
    base0b: $base0b,
    base0c: $base0c,
    base0d: $base0d,
    base0e: $base0e,
    base0f: $base0f,
  ),
  dark: (
    background: #252a34,
    text: #eaeaea,
    primary: #2f99cc,
    border: mix(#fff, #252a34, 20%),
    code-background: mix(#000, #252a34, 15%),
    code-background-dark: mix(#000, #252a34, 20%),
    form-background: mix(#000, #252a34, 15%),
    footer-background: mix(#000, #252a34, 30%),
    link: mix(#2f99cc, #eaeaea, 40%),
    link-hover: mix(#fff, mix(#2f99cc, #eaeaea, 40%), 25%),
    link-visited: mix(#000, mix(#2f99cc, #eaeaea, 40%), 25%),
    masthead-link: #eaeaea,
    masthead-link-hover: mix(#000, #eaeaea, 20%),
    navicon-link-hover: mix(#000, #252a34, 30%),
    dark-gray: mix(#000, #eaeaea, 25%),
    light-gray: mix(#fff, #eaeaea, 50%),
    active: mix(#000, #3d4e7f, 80%),
    contrast: #fff,
    no-contrast: #000,
    muted-text: mix(#000, #eaeaea, 20%),
    mix-border-25: mix(#000, mix(#fff, #252a34, 20%), 25%),
    mix-primary-25: mix(#000, #2f99cc, 25%),
    mix-text-50: mix(#fff, #eaeaea, 50%),
    mix-contrast-text-25: mix(#fff, #eaeaea, 25%),
    mix-contrast-text-10: mix(#fff, #eaeaea, 10%),
    base00: mix(#000, #3d4e7f, 40%),
    base01: #3a3c4e,
    base02: #4d4f68,
    base03: #626483,
    base04: #62d6e8,
    base05: #e9e9f4,
    base06: #f1f2f8,
    base07: #f7f7fb,
    base08: #ea51b2,
    base09: mix(#fff, #b45bcf, 40%),
    base0a: #00f769,
    base0b: #ebff87,
    base0c: #a1efe4,
    base0d: #62d6e8,
    base0e: mix(#fff, #b45bcf, 40%),
    base0f: #00f769,
  ),
);

$color-placeholder: 'here';


@function compose-color-variable($color-key) {
    @return '--color-#{$color-key}';
}

:root {
    @each $key, $value in map-get($colors, 'light') {
        #{compose-color-variable($key)}: #{$value};
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        @each $key, $value in map-get($colors, 'dark') {
            #{compose-color-variable($key)}: #{$value};
        }
    }
}

@function str-replace($string, $search, $replace: '') {
    $index: str-index($string, $search);

    @if not $index {
        @return $string;
    }

    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
}

@function color-get($palette, $color-key) {
    @return map-get(map-get($colors, $palette), $color-key);
}

@mixin color-assign($property, $color-key, $template: '') {
    $fallback: #{color-get("light", $color-key)};
    $var: var(#{compose-color-variable($color-key)});

    #{$property}: if(str-length($template) == 0, $fallback, #{str-replace($template, $color-placeholder, $fallback)});
    #{$property}: if(str-length($template) == 0, $var, #{str-replace($template, $color-placeholder, $var)});
}
