/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  margin-bottom: 1em;
  width: 100%;
  font-family: $global-font-family;
  font-size: $type-size-6;
  border-collapse: collapse;
  @include color-assign(border, mix-border-25, '1px solid here');

  & + table {
    margin-top: 1em;
  }
}

thead {
  @include color-assign(background-color, border);
  @include color-assign(border-bottom, mix-border-25, '1px solid here');
}

th {
  padding: 0.5em;
  font-weight: bold;
  text-align: left;
  @include color-assign(border-right, mix-border-25, '1px solid here');
}

td {
  padding: 0.5em;
  @include color-assign(border-bottom, mix-border-25, '1px solid here');
  @include color-assign(border-right, mix-border-25, '1px solid here');
}

tr, td, th {
  vertical-align: middle;
}

td.authortable {
  padding: 0.5em;
  font-size: $type-size-4;
  @include color-assign(border, background, '0px hidden here');
  @include color-assign(border-bottom, background, '0px hidden here');
  @include color-assign(border-right, background, '0px hidden here');
  text-align: center;
  vertical-align: top;
}


#forcetable {
  padding: 0.5em;
  font-size: $type-size-4;
  @include color-assign(border, background, '0px hidden here');
  @include color-assign(border-bottom, background, '0px hidden here');
  @include color-assign(border-right, background, '0px hidden here');
  text-align: left;
  vertical-align: top;

  .archive__item-excerpt {
    margin-top: 0;
    font-size: $type-size-5;

    & + p {
      text-indent: 0;
    }
  }
}


#forcetable2 {
  padding: 0.5em;
  font-size: $type-size-4;
  @include color-assign(border, background, '0px hidden here');
  @include color-assign(border-bottom, background, '0px hidden here');
  @include color-assign(border-right, background, '0px hidden here');
  text-align: left;
  vertical-align: top;

  a {
    @include color-assign(color, text);
    text-decoration: none;
    @include color-assign(border-bottom, background, '0px solid here');
    transition: $global-transition;

    &:hover {
      @include color-assign(color, mix-text-50);
      @include color-assign(border-bottom-color, background);
    }
  }

  .archive__item-excerpt {
    margin-top: 0;
    font-size: $type-size-5;

    & + p {
      text-indent: 0;
    }
  }
}

td.gridtable {
  padding: 0.5em;
  font-size: $type-size-4;
  @include color-assign(border, background, '0px hidden here');
  @include color-assign(border-bottom, background, '0px hidden here');
  @include color-assign(border-right, background, '0px hidden here');
  text-align: left;
  vertical-align: top;
  a {
    @include color-assign(color, mix-contrast-text-25);
    text-decoration: none;
    @include color-assign(border-bottom, background, '1px solid here');
    transition: $global-transition;

    &:hover {
      @include color-assign(color, mix-contrast-text-10);
      @include color-assign(border-bottom-color, background);
      text-decoration: underline;
    }
  }
}
